* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: #ffffff;
}

body {
	font-family: Helvetica, sans-serif;
}

.container {
	margin: 50px auto;
	padding: 40px;
	border: 2px solid white;
	text-align: center;
	width: 60%;
	background-color: rgba(40, 23, 75, 1);
	line-height: 3em;
	border-radius: 5px;
}

button {
	padding: 6px;
	border: 2px solid black;
	margin: 2em auto 1em auto;
	display: flex;
	justify-content: center;
	background-color: rgba(0, 218, 128, 1);
	border-radius: 5px;
	width: 30%;
	color: black;
}

input {
	padding: 5px;
	border: 2px solid rgba(0, 218, 128, 1);
	border-radius: 5px;
	width: 80%;
}

.name {
	width: 40%;
}

h1 {
	color: white;
	letter-spacing: 1px;
	margin: 5px 10px;
	font-weight: 400;
}
